node_modules
# Logs
logs
*.log

# Dependency folders
omv_backend/node_modules
omv_frontend/node_modules

# Build
omv/dist
server/dist
dist-ssr

# Environment files
omv_backend/.env
omv_frontend/.env
*.local

# Editor folders
.vscode/
.idea
.DS_Store
.vercel
